{erl_opts, [
    {parse_transform, lager_transform},
    {i, "deps/amqp_client/include"},
    {i, "deps/rabbit_common/include"}
]}.
{deps, [
  {lager, ".*", {git, "git://github.com/basho/lager.git", "HEAD"}},
  {rabbit_common, ".*", {git, "git://github.com/vdoov/rabbit_common.git", "HEAD"}},
  {amqp_client, ".*", {git, "git://github.com/vdoov/rabbitmq-erlang-client.git", "HEAD"}}
]}.